include LICENSE VERSION site_cfg_template.py
include CMakeLists.txt
include pytest.ini
recursive-include meshes *
recursive-include sfepy/examples *
recursive-include sfepy/tests *
recursive-include doc *
recursive-include tools *
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.egg-info
global-exclude .git
prune .git
prune build
prune dist
prune .pytest_cache